# Virtual Environment Folder
myvenv/
venv/
ENV/

# Sensitive Environment Variables
.env

# Local Cache & Heavy Models
hf_cache/
vector_store/
__pycache__/
*.pyc

# Data & Database Outputs
data/financial_report.db
outputs/

# OS specific files
.DS_Store